<ion-header>
  <ion-toolbar>
    <ion-title>Mes informations</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
      </ion-buttons>
      
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="avatar-section">
    <img src="https://p.kindpng.com/picc/s/78-785827_user-profile-avatar-login-account-male-user-icon.png" alt="">
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Adresse</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Télephone</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    
  </ion-list>

</ion-content>
